@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 30px;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;

}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.bgVideo {

  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: +9999;
  background: rgba(228, 228, 228, 0.822);
  transform-origin: 0%;
}

.register {
  background-color: white;
  border-radius: 30px;
  align-items: center;
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #000;
}

.register-fee {
  color: black;
  transform: rotate(270deg);
  font-weight: bolder;
  border-bottom: 2px solid black;
}

.price>span {
  font-weight: 500;
  padding-left: 1px;
  color: rgb(37, 37, 37);
}

.just {
  stroke: red;
  stroke-width: 3;
  stroke-dasharray: 50, 750;
  stroke-dashoffset: 0;
  fill: none;
  animation: border 5s linear infinite;
}
